# vim
*~
*.sw?

# generic editing tools
tags
tags.lock

# mac
*.DS_Store

# wandows
.vscode/

# build tools
node_modules/

# logfiles
*.log
.idea/

# dev artifacts
yarn.lock
package-lock.json

# misc
README.md

# source maps
*.js.map

# source files
lib/

# test projects
test/

# self
.npmignore

# other configs
tsconfig.json
release.tsconfig.json
index.ts
index.html
webpack.config.json
types.ts